@charset "UTF-8";
/**
 * 公用ui
 */


/*定义一个宽*/
.w{width:960px;margin-left:auto;margin-right:auto;}


/**
 * icon区域
 * @description 必须使用新标签, 且width, height为icon的宽高
 */
.icons{display:inline-block;overflow:hidden;}


/*按钮*/
.ui-btn{user-select:none;-moz-user-select: none;-webkit-user-select: none; -ms-user-select: none;
        display:inline-block;background-color:#2c3039;color:#fff;text-align:center;
        padding:0 38px;font-size:14px;height:28px;line-height:28px;border:none;cursor:pointer;
        border-radius:3px;}
.ui-btn:hover,.ui-btn.current{text-decoration:none;color:#fff;background-color:#131418;}
.ui-btn:active{background-color:#333;}
.ui-btn.current{text-decoration:none;}
.ui-btn.loading,.ui-btn.disabled,.ui-btn[disabled]{cursor:not-allowed;background-color:#ccc;text-decoration:none;outline:0;}
.ui-btn.loading > span{background:url('../img/loading-16-16.gif') left center no-repeat;padding-left:26px;}
/*大号*/
.ui-btn-24{
    font-size:24px;padding:0 35px;height:48px;line-height:48px;
}
/*红色*/
.ui-btn-red{
    background-color:#fe555a;
}
.ui-btn-red:hover{
    background-color:#e64348;
}
.ui-btn-red:active{
    background-color:#c53b40;
}


/**
 * 文本框
 */
.ui-text{border:1px solid  #ccc;padding:5px;height:20px;line-height:20px;vertical-align:middle;}



/*图片加载背景*/
.imgLoad{display:block;background: url('../img/loading-32-32.gif') center center no-repeat #f6f6f6;}



/*不让用户选中*/
.user-select-none{user-select:none;-moz-user-select: none;-webkit-user-select: none; -ms-user-select: none;}

